.gradient-background {
  width: 100%;
  background: linear-gradient(to bottom right, #ffdab9, #e0ffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .announcement-banner {
    width: 100%;
    max-width: 100vw;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    border-bottom: 2px solid black;
    overflow: hidden;
    position: relative;
    &.second-banner {
      .diqqat {
        animation: scroll2 10s linear infinite;
      }
    }
    p {
      display: flex;
      gap: 25px;
    }
  }

  .diqqat {
    display: inline-block;
    transform: skewX(-10deg);
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes scroll2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .content {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
  }

  h1 {
    margin: 10px 0;
    font-size: 24px;
  }

  h2 {
    margin: 10px 0;
    font-size: 20px;
    color: darkslategray;
  }

  .highlight {
    color: red;
    font-weight: bold;
  }

  .timer {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.1, 1.3);
    opacity: 0;
  }
}

.cta-button {
  position: relative;
  background: linear-gradient(90deg, #fbbc04, #fff1ca);
  color: rgb(10, 10, 10);
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 0 4px 15px #fbbc0480;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  font-weight: bold;
}
.cta-button::before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  position: absolute;
  animation: pulse2 1.2s ease infinite;
  background-color: #fbbc04;
  border-radius: 12px;
}
